<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Bienvenido</title>
		<script src="/static/libs/jquery-2.1.1.min.js"></script>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
		<link href="/static/css/jquery-ui-1.10.1.custom.min.css" type="text/css" rel="stylesheet">
		<link href="/static/css/bootstrap-modal.min.css" rel="stylesheet" type="text/css">
		<link href="/static/css/style.min.css" rel="stylesheet" type="text/css">
		<link href="/static/css/index-styles.min.css" rel="stylesheet" type="text/css">

		<style>
			body {
				padding-top:50px;
				/*0089c3 por 004686*/
				/*background: linear-gradient(45deg, #7b44c4 -20%, #004686 50%);*/
				color: rgb(0, 70, 134);;
			}
			.row{
				padding-bottom: 15px;
			}
			.header-title{
				background-color: rgb(238, 238, 238);
				padding-left: 100px;
				padding-right: 10px;
/*				border-radius: 10px 10px 10px 10px;
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;*/
                color: black;
			}
			div[id='loading-div']{
				margin-top: 17%;
				margin-left: 45%;
				color:white;
			}
		</style>
	</head>
	<body>
		<div class="header-title">
			<div class="space-xs col-md-12"></div>
			<div class="row">
				<div class="span10 ">
						<h2>Bienvenido</h2>
				</div>
				<div class="span4">
				</div>
			</div>
		</div>
		<header style="margin-bottom: 40px;">
			<div id="navbar">
				<div class="menu_bar">
					<a href="#" class="bt-menu"><img src="/cfmx/plantillas/rx/assets/img/hamburger-icon.svg" alt="menu"></a>
				</div>
				<nav>
					<ul>
						<li id="home" class="nav-active"><a href="/users/index">Inicio</a></li>
						<li id="contact" ><a href="/users/account">Registrarse</a></li>
						<li id="home"><a href="/users/sign">Ingresar</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<div id="createNewUser" style="margin-left:3%" class="main-wrapper">
			<div  class="span12">
				<p style="text-align:justify; font-size:17px;">Hemos desarrollado una plataforma para que usted pueda llevar un control de los datos que se generan por la facturacion electronica.
				<br>
				Para ello tomamos los XMLs y los analizamos mostrando informacion al usuario. </p>

			</div>
		</div>
	</body>

</html>

<script type="text/javascript">



</script>